html, body{
    height: 100%;
    font:normal 11px arial,tahoma,verdana,helvetica;
    font-size: 15px;
    display: flex; flex-flow: column;
}

[v-cloak]{
    display: none!important;
}

td {
    text-align: center;
}

#videoWrapper {
    height: 100%;
}

header {
    height: 33px;
}

.operBtns button {
    color:#333;
    font-size: 13px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    padding: 3px 10px 3px 10px;
    border: 2px solid;
    border-color: transparent;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.operBtns button:focus {
    outline: 0;
}

.operBtns button:active {
    box-shadow: none;
}

.operBtns button:hover {
    border: 2px solid grey;
}

.main-body {
    display: flex;
    height: calc(100% - (250px + 33px));
}

.main-body .sidebar-wrapper {
    width: 200px; min-width: 150px;
    border: 2px solid #b0b0b5;
    border-radius: 5px;
    background-color: #fff;
}

.filter-caption {
    font-size: 13px;
    background-image: linear-gradient(to top, #bfc7d9 0%, #ffffff 100%);
    border: 0;
    padding: 4px 9px 4px 9px;
}

.filter-list {
    font-size: 12px;
    padding: 6px 9px 6px 9px;
}

.state {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.main-body .sidebar-wrapper ul {
    list-style: none;
    height: 100%;
    margin:0; padding-left:0;:
}

.main-body .sidebar-wrapper ul li {
    padding:5px 0;
    display: block;
    cursor: pointer;
}

.main-body .sidebar-wrapper ul li:hover {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.main-body .videoList-wrapper {
    margin-left:5px;
    border: 2px solid #b0b0b5;
    border-radius: 5px;
    background-color: #fff;
    flex-grow:1;
    overflow: auto;
}

table.videoList {
    border: 0;
    width:100%;
}

table thead th {
    font-size: 13px;
    font-weight: normal;
    background-image: linear-gradient(to top, #bfc7d9 0%, #ffffff 100%);
    border: 0;
    padding: 4px 9px 3px 9px;
}

table tbody tr {
    font-size: 11px;
    font-weight: lighter;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    height: 23px;
    overflow: hidden;
}

table tbody tr:hover td {
    background-color: #dfe3ec;
}

tr .progress-bar {
    position: relative;
}

tr .progress-bar .string {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto auto;
}

tr .progress-bar .bar-container {
    margin: 3px;
}

tr .progress-bar .bar {
    height: 19px;
    width: 70%;
    background: linear-gradient(to top, #9fabc6, #60739f, #9fabc6);
}

tr.selected {
    background: #d2cde8;
    pointer-events: none;
}

table tbody tr td {
    border:0;padding:0;
}

footer {
    margin-top: 10px;
    height: 240px;
    border: solid 2px #b0b0b5; border-radius: 5px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

ul.taskInfo {
    list-style: none;display: flex;
    padding: 0; margin:5px 0;
}

ul.taskInfo li {
    padding-left: 10px;
    margin-left: 2px;
    padding-right: 5px;
    border-right: solid 2px gray;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    border-radius: 2px;
    height: 25px;
    cursor: pointer;
}

.tabpane dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    margin-left: 10px;
}

.tabpane dt {
    width: 100px;
    margin-bottom:5px;
}

.tabpane dd {
    list-style: none;
    margin-left: 0;
    margin-bottom: 5px;
    width: 300px;
}
