<!doctype html>
<html>
  <head>
    <title>This is a test template</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/global.css">
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/vue.min.js') }}"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">-->
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}"></script>-->
  </head>
  <body>
   <div id="videoWrapper">
    <header>
       <div class="operBtns">
          <button><i class="fa fa-plus" aria-hidden="true">Add</i></button>
          <button><i class="fa fa-minus" aria-hidden="true"></i>Remove</button>
          <button><i class="fa fa-pause" aria-hidden="true"></i>Pause</button>
          <button><i class="fa fa-caret-right" aria-hidden="true"></i>Resume</button>
       </div>
    </header>
    <div class="main-body">
       <div class="sidebar-wrapper">
          <div class="filter">filter <i class="fa fa-chevron-circle-left" style="float: right"aria-hidden="true"></i></div>
          <div class="state">state</div>
          <ul>
             <li><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;All</li>
             <li><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Downloading</li>
             <li><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;Finished</li>
             <li><i class="fa fa-pause" aria-hidden="true"></i>&nbsp;Paused</li>
          </ul>
       </div>
       <div  class="videoList-wrapper">
          <table class="videoList">
             <thead>
                <tr>
                   <th width="10%">#</th>
                   <th width="30%">Name</th>
                   <th width="10%">Size</th>
                   <th width="20%">Progress</th>
                   <th width="10%">Down Speed</th>
                   <th width="10%">Up Speed</th>
                   <th width="10%">ETA</th>
                </tr>
             </thead>
             <tbody>
                <tr v-for="(video, index) in videoList">
                   <td width="10%">{{"{{index + 1}}"}}</td>
                   <td width="30%">{{"{{video.name}}"}}</td>
                   <td width="10%">{{"{{video.size}}"}}</td>
                   <td width="20%">{{"{{video.Progress}}"}}</td>
                   <td width="10%">{{"{{video.downSpeed}}"}}</td>
                   <td width="10%">{{"{{video.upSpeed}}"}}</td>
                   <td width="10%">{{"{{video.eta}}"}}</td>
                </tr>
             </tbody>
          </table>
       </div>
    </div>
    <footer>
    </footer> 
    </div>
    <script type="text/javascript" src="../static/js/vue.min.js"></script>
    <script type="text/javascript" src="../static/js/global.js"></script>
  </body>
</html>
